<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">🐱 Catpuccino</a>
    </div>
</div>

<div @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                🏠 Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="catalogo">
                🍴 Catálogo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="clientes">
                👥 Clientes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pedidos">
                📋 Pedidos
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;
}